footer {
  background-color: $colour-dark;
  color: $colour-white;
  padding: 1.9rem 2rem;
  @media (min-width: 600px) {
    padding: $padding-section-m;
  }

  .link {
    text-decoration: none;
    color: $colour-white;
    font-weight: 400;
  }

  .fas {
    font-size: 0.9rem;
  }
  .footer__title {
    padding-bottom: 0.95rem;
    font-size: 1.17rem;
  }
}

.footer__content--grid {
  display: grid;
  width: fit-content;
  grid-template-areas:
    "icon text"
    "icon text";
  grid-template-columns: 1rem;
  column-gap: 0.5rem;

  &--icon {
    grid-area: icon;
  }
  &--text {
    grid-area: text;
    align-self: start;
  }
}
