.header {
  text-align: center;
  &__nav {
    padding: 0.5rem 0 0.2rem 0;
    background: $colour-white;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 10px;
    position: relative;
    &--arrow {
      position: absolute;
      top: 50%;
      left: 2rem;
      transform: translate(-50%, -50%);
      font-size: 1.2rem;
      @media all and (min-width: 600px) {
        left: 4.5rem;
      }
    }
  }
  &__location {
    padding: 0.8rem;
    color: #464646;
    &--box {
      display: inline-grid;
      font-size: 1.1rem;
      grid-template-columns: 1fr 2fr 1fr;
      align-items: baseline;
      & span {
        font-weight: 500;
        font-size: 1.1rem;
      }
    }
  }
  &__content {
    background-color: #f6f6f6;
    padding: 2.5rem 1.7rem;
    h2,
    p {
      line-height: normal;
      padding-bottom: 1rem;
    }
    &--p {
      font-size: 1.15rem;
    }
  }
}

.background-img {
  height: 275px;
  background-size: cover;
  background-position: center;
  @media all and (min-width: 600px) {
    height: 375px;
  }
  @media all and (min-width: 1340px) {
    height: 475px;
  }
}

.palette {
  background-image: url("../../public/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.francaise {
  background-image: url("../../public/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.delice {
  background-image: url("../../public/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.note {
  background-image: url("../../public/img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
