.restaurant {
  padding: 3rem 1.5rem 3.5rem 1.5rem;
  @media (min-width: 600px) {
    padding: $padding-section-m;
  }

  &__grid {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;

    &--card {
      background-color: $colour-white;
      border-radius: 20px;
      margin-bottom: 1.5rem;
      box-shadow: rgba(0, 0, 0, 0.1) 0 3px 15px;
      position: relative;

      .new-restaurant {
        position: absolute;
        right: 1.1rem;
        top: 1.1rem;
        padding: 0.2rem 1rem;
        background: #99e2d0;
        color: #0a8d6d;
        font-weight: 500;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.3) 0 3px 10px;
      }
    }
    &--card:last-child {
      margin-bottom: 1rem;
    }
  }
}

.img-restaurant {
  height: 180px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
  object-position: bottom;
  display: block;
}

.portrait-format {
  object-position: 50% 60%;
}

.accueil-content {
  padding: 0.9rem 1.5rem 0.9rem 1rem;
}

.restaurant__grid--card--content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .heart-animation {
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    position: relative;

    &:hover {
      color: transparent;
    }

    .empty-heart,
    .filled-heart {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      font-size: 1.5rem;
    }

    .filled-heart {
      color: transparent;

      &:hover {
        background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
        background: linear-gradient($colour-primary, $colour-secondary);
        -webkit-background-clip: text;
        animation: heart-opacity 2s linear;
        cursor: pointer;
        // background-clip: text;
        // -webkit-text-fill-color: transparent;
      }
    }
  }
}

@keyframes heart-opacity {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 600px) {
  .restaurant__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 3rem;
  }
}

@media (min-width: 1280px) {
  .restaurant__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
