.big__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;

  &--img {
    position: relative;
    & .fas {
      position: absolute;
      bottom: 2rem;
      left: 2rem;
      font-size: 2rem;
    }
    & > img {
      border-radius: 4px;
      box-shadow: $shadow;
    }
  }
}

.fa-exclamation-triangle {
  color: $colour-warning;
}

.fa-magic {
  color: $colour-success;
}

.huge-container {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.shadow {
  border-radius: 4px;
  box-shadow: $shadow;
}

.fb-img {
  margin-bottom: 5rem;
}
