.column__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;

  &--img {
    position: relative;
    & .fas {
      position: absolute;
      bottom: 2rem;
      left: 2rem;
      font-size: 2rem;
    }
    & > img {
      border-radius: 4px;
      box-shadow: $shadow;
    }
  }
}

.row__container {
  display: flex;
  justify-content: space-evenly;
}

.logo-img {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  & > h1 {
    padding-bottom: 0;
  }
}

.lh-img {
  margin-bottom: 5rem;
}

// FONT-AWESOME
.fa-desktop,
.fa-mobile-alt {
  font-size: 5rem;
}

.fa-exclamation-triangle {
  color: $colour-warning;
}

.fa-magic {
  color: $colour-success;
}

.shadow {
  border-radius: 4px;
  box-shadow: $shadow;
}

.fb-img {
  margin-bottom: 5rem;
}

.flex-start {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
