*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a:visited, a:link, a:active {
  color: black;
}

.white {
  color: white;
}

.space-evenly {
  justify-content: space-evenly;
}

.column-spaced {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.width-adjusted {
  width: 80vw;
}

body.swal2-shown > [aria-hidden=true] {
  transition: 0.1s filter;
  filter: blur(1px);
}

.fp-tableCell {
  padding: 2rem 3rem;
}

.fp-bottom {
  text-align: center;
}

body {
  font-family: "Quicksand", sans-serif;
  color: #101010;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7;
}

h1,
h2,
h3 {
  font-family: "Quicksand", sans-serif;
  text-align: center;
}

h1 {
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-weight: 600;
  padding-bottom: 1rem;
}

h3 {
  padding-bottom: 1rem;
}

p {
  margin: 1rem 0;
}

.more-padding {
  padding-bottom: 4rem;
}

.padding-sides {
  padding: 0 10rem;
}

.fp-controlArrow {
  padding: 0 2.5rem;
}

.fp-prev {
  border-color: transparent #2c302e transparent transparent !important;
}

.fp-next {
  border-color: transparent transparent transparent #2c302e !important;
}

.inner {
  height: 100px;
  width: 400px;
}

.text {
  position: relative;
  opacity: 0.7;
}

.target {
  transform: translate(var(--x), var(--y));
}

.button:active .target {
  opacity: 0.7;
  transition: opacity 100ms;
}

.button {
  -webkit-tap-highlight-color: transparent;
  margin: 0 auto;
  text-align: center;
  appearance: none;
  border-radius: 100px;
  border: 2px solid black;
  border: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-weight: 900;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  margin-top: 20px;
  outline: none;
  overflow: hidden;
  padding: 1em 2em;
  position: relative;
  width: 300px;
}

.btn-dark {
  color: black;
}

.center {
  text-align: center;
}

.pattern {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.bg-before {
  background-image: url("https://images.unsplash.com/photo-1583161056973-c0375771efb3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29sb3IlMjB0ZXh0dXJlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
}

.bg-after {
  background-image: url("https://images.unsplash.com/photo-1619529079006-873f44d61e1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=664&q=80");
}

.bg-green {
  background-image: url("https://images.unsplash.com/photo-1511877448058-cbf344a6a85a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
}

.bg-red {
  background-image: url("https://images.unsplash.com/photo-1605714389837-828bc2b1e6c7?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTI1fHx0ZXh0dXJlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
}

.no-bg {
  background-image: url("https://images.unsplash.com/photo-1567095716798-1d95d8f4c479?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
}

.bg-1 {
  background-image: url("https://images.unsplash.com/photo-1516796181074-bf453fbfa3e6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80");
}

.bg-2 {
  background-image: url("https://images.unsplash.com/photo-1611242319342-ed0d65b1a0f0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTI3fHx0ZXh0dXJlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
}

.bg-final {
  background-image: url("https://images.unsplash.com/photo-1567540017993-c888313000b1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=677&q=80");
}

.column__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}
.column__container--img {
  position: relative;
}
.column__container--img .fas {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  font-size: 2rem;
}
.column__container--img > img {
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.row__container {
  display: flex;
  justify-content: space-evenly;
}

.logo-img {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}
.logo-img > h1 {
  padding-bottom: 0;
}

.lh-img {
  margin-bottom: 5rem;
}

.fa-desktop,
.fa-mobile-alt {
  font-size: 5rem;
}

.fa-exclamation-triangle {
  color: #e05555;
}

.fa-magic {
  color: #09ce6b;
}

.shadow {
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.fb-img {
  margin-bottom: 5rem;
}

.flex-start {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.fullwidth-logo {
  position: absolute;
  top: 0;
  padding-top: 0.8rem;
}
.fullwidth-logo > img {
  border-radius: 8px;
  width: calc(100vw - 6rem);
}

.validator-container {
  height: 233px;
  overflow: scroll;
}

.validator-css {
  height: 250px;
  overflow: scroll;
}

.slim-container {
  width: 82vw;
}

.stop-scroll {
  overflow: hidden;
}

.no-gap {
  row-gap: 0;
}

.gt-metrix-logo {
  position: absolute;
  margin-bottom: 1rem;
  top: 2rem;
  left: 3rem;
}

.fullscreen :last-child {
  height: 73vh;
  display: block;
  margin: auto;
  padding-top: 1rem;
}

.base__container {
  display: flex;
  justify-content: space-around;
  column-gap: 2rem;
}
.base__container--content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}
.base__container--content--item {
  width: 325px;
  height: 325px;
  overflow: scroll;
  position: relative;
}
.base__container--content > ul {
  padding-bottom: 1rem;
}

#no-need {
  object-fit: cover;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
