*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background: #eaeaea;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a:visited, a:link, a:active {
  color: black;
}

body {
  font-family: "Quicksand", sans-serif;
  color: #101010;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7;
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
}

h2 {
  text-align: center;
  font-size: 600;
}

p {
  margin: 3rem;
}

.fp-bottom {
  text-align: center;
}

.fp-controlArrow {
  padding: 0 2.5rem;
}

.fp-prev {
  border-color: transparent #888 transparent transparent !important;
}

.fp-next {
  border-color: transparent transparent transparent #444 !important;
}

.test-img {
  width: 200px;
}

.inner {
  height: 100px;
  width: 400px;
}

.text {
  position: relative;
  opacity: 0.7;
}

.target {
  transform: translate(var(--x), var(--y));
}

.button:active .target {
  opacity: 0.7;
  transition: opacity 100ms;
}

.button {
  -webkit-tap-highlight-color: transparent;
  appearance: none;
  border-radius: 100px;
  border: 2px solid black;
  border: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  margin-top: 20px;
  outline: none;
  overflow: hidden;
  padding: 1em 2em;
  position: relative;
  width: 300px;
}

#container {
  text-align: center;
}

.pattern {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.bg1 {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGnBPfbRT5Qu2rMGAktHvODE4knqlF5lwlYhqhV8XiGUCcX_19O28HQJ8WfDC8Pdvo34U&usqp=CAU);
}

.header {
  text-align: center;
}
.header__nav {
  padding: 0.5rem 0 0.2rem 0;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0 1px 10px;
  position: relative;
}
.header__nav--arrow {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
}
@media all and (min-width: 600px) {
  .header__nav--arrow {
    left: 4.5rem;
  }
}
.header__location {
  padding: 0.8rem;
  color: #464646;
}
.header__location--box {
  display: inline-grid;
  font-size: 1.1rem;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: baseline;
}
.header__location--box span {
  font-weight: 500;
  font-size: 1.1rem;
}
.header__content {
  background-color: #f6f6f6;
  padding: 2.5rem 1.7rem;
}
.header__content h2,
.header__content p {
  line-height: normal;
  padding-bottom: 1rem;
}
.header__content--p {
  font-size: 1.15rem;
}

.background-img {
  height: 275px;
  background-size: cover;
  background-position: center;
}
@media all and (min-width: 600px) {
  .background-img {
    height: 375px;
  }
}
@media all and (min-width: 1340px) {
  .background-img {
    height: 475px;
  }
}

.palette {
  background-image: url("../../public/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.francaise {
  background-image: url("../../public/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.delice {
  background-image: url("../../public/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.note {
  background-image: url("../../public/img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.container {
  margin-top: -60px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 1.7rem 1rem 4.2rem 1rem;
  background-color: #f6f6f6;
}
.container__title {
  padding: 0 1rem 1.4rem 0;
}
@media (min-width: 600px) {
  .container {
    padding: 3rem 4.5rem 3.5rem 4.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
