.filter-box,
.filters {
  display: flex;
  align-items: center;
}

.filters > li {
  border: 3px solid var(--clr-grey);
  border-radius: 2rem;
}

.filters .fas {
  display: inline-flex;
  background-color: var(--clr-light);
  color: var(--clr-accent);
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  align-items: center;
  justify-content: center;
}

.fa-info {
  text-align: center;
  color: var(--clr-accent);
  border-radius: 50%;
  border: solid 2px var(--clr-grey);
  height: 2rem;
  width: 2rem;
}
