.fp-controlArrow {
  padding: 0 2.5rem;
}

.fp-prev {
  border-color: transparent #888 transparent transparent !important;
}
.fp-next {
  border-color: transparent transparent transparent #444 !important;
}

.test-img {
  width: 200px;
}

// BUTTONS
.inner {
  height: 100px;
  width: 400px;
}
.text {
  position: relative;
  opacity: 0.7;
}
.target {
  transform: translate(var(--x), var(--y));
}
.button:active .target {
  opacity: 0.7;
  transition: opacity 100ms;
}

.button {
  -webkit-tap-highlight-color: transparent;
  appearance: none;
  border-radius: 100px;
  border: 2px solid black;
  border: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  margin-top: 20px;
  outline: none;
  overflow: hidden;
  padding: 1em 2em;
  position: relative;
  width: 300px;
}

#container {
  text-align: center;
}

.pattern {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.bg1 {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGnBPfbRT5Qu2rMGAktHvODE4knqlF5lwlYhqhV8XiGUCcX_19O28HQJ8WfDC8Pdvo34U&usqp=CAU);
}
