.fp-controlArrow {
  padding: 0 2.5rem;
}

.fp-prev {
  border-color: transparent #888 transparent transparent !important;
}
.fp-next {
  border-color: transparent transparent transparent #444 !important;
}

.test-img {
  width: 200px;
}

// IMAGES TO PLACE SOMEWHERE ELSE
.base__container {
  display: flex;
  justify-content: space-around;
  column-gap: 1rem;
  &--content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    &--item {
      width: 325px;
      height: 325px;
      overflow: scroll;
      position: relative;
    }
  }
}

#no-need {
  object-fit: cover;
  overflow: hidden;
}
