.inner {
  height: 100px;
  width: 400px;
}
.text {
  position: relative;
  opacity: 0.7;
}
.target {
  transform: translate(var(--x), var(--y));
}
.button:active .target {
  opacity: 0.7;
  transition: opacity 100ms;
}

.button {
  -webkit-tap-highlight-color: transparent;
  margin: 0 auto;
  text-align: center;
  appearance: none;
  border-radius: 100px;
  border: 2px solid black;
  border: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-weight: 900;
  cursor: pointer;
  font-size: 1.2em;
  margin-top: 20px;
  outline: none;
  overflow: hidden;
  padding: 1em 2em;
  position: relative;
  width: 300px;
}

.btn-white {
  color: white;
}

.center {
  text-align: center;
}

.pattern {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.bg-before {
  background-image: url("https://images.unsplash.com/photo-1583161056973-c0375771efb3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29sb3IlMjB0ZXh0dXJlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
}
.bg-after {
  background-image: url("https://images.unsplash.com/photo-1511877448058-cbf344a6a85a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
}

.bg-pink,
.no-bg {
  background-image: url("https://images.unsplash.com/photo-1567095716798-1d95d8f4c479?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
}
