.ul-audit {
  width: 47%;
  position: relative;
  & > li {
    list-style-image: url("../../public/img/tools/circle-solid.svg");
    font-size: 1.8rem;
    line-height: 1.2;
    & > span {
      font-size: 1rem;
    }
  }
}

#special-li {
  padding: 2rem;
  list-style-position: inside;
  list-style: none;
  text-align: center;
}
