*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background: #eaeaea;
}

a {
  text-decoration: none;
  cursor: pointer;
  &:visited,
  &:link,
  &:active {
    color: black;
  }
}

.big__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;

  &--img {
    position: relative;
    & .fas {
      position: absolute;
      bottom: 2rem;
      left: 2rem;
      font-size: 2rem;
    }
    & > img {
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
  }
}

.fa-exclamation-triangle {
  color: $colour-warning;
}

.fa-magic {
  color: $colour-success;
}
