*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background: #eaeaea;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  &:visited,
  &:link,
  &:active {
    color: black;
  }
}
