body {
  font-family: "Roboto", sans-serif;
  color: #101010;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
  font-weight: normal;
  display: inline-block;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.68rem;
}

h3 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  font-size: 1.7rem;
}

h4 {
  margin: 0;
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
  font-weight: 300;
}

h6 {
  font-weight: 500;
  font-size: 1.1rem;
}

p {
  font-size: 1rem;
}
