body {
  font-family: "Quicksand", sans-serif;
  color: #101010;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7;
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
}

.h1-noslider {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.fp-bottom {
  text-align: center;
}
