$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-tertiary: #99e2d0;

$colour-white: #fff;
$colour-dark: #353535;
$colour-pink-light: #f5edff;

$padding-section: 3rem 1.5rem 3.5rem 1.5rem;
$padding-container: 1.7rem 1rem 4.2rem 1rem;
$padding-section-m: 3rem 4.5rem 3.5rem 4.5rem;
